  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
      - DOCKER_MODS=linuxserver/mods:universal-calibre #optional
    volumes:
      - calibre-web-config:/config
      - <%= calibre_dir %>:/books
    ports:
      - 8083:8083
    restart: unless-stopped