  kapowarr:
    container_name: kapowarr
    volumes:
      - kapowarr-db:/app/db
      - <%= comics_dir %>:/content
      - <%= downloads_dir %>:/app/temp_downloads
    ports:
      - 5656:5656
    image: mrcas/kapowarr:latest