  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
    volumes:
      - lidarr-config:/config
      - <%= music_dir %>:/music #optional
      - <%= downloads_dir %>:/downloads #optional
    ports:
      - 8686:8686
    restart: unless-stopped