  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
    volumes:
      - readarr-config:/config
      - <%= books_dir %>:/books #optional
      - <%= downloads_dir %>:/downloads #optional
    ports:
      - 8787:8787
    restart: unless-stopped